<?= Form::open() ?>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">×</button>
        <h4 class="modal-title">Title</h4>
    </div>

    <div class="modal-body">
        <?= $importTemplateWidget->render() ?>
    </div>

    <div class="modal-footer">
        <button type="submit"
                data-request=""
                data-popup-load-indicator
                class="btn btn-primary">
                <?= e(trans('create')) ?></button>

        <button type="button"
                class="btn btn-default"
                data-dismiss="popup">
                <?= e(trans('cancel')) ?></button>
    </div>

<?= Form::close() ?>